body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color:white;
}

nav {
    background-color: #1d00f6;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px; /* Add padding to create space */
    border-right: 1px solid #fff; /* Add border to create a line */
    transition: opacity 0.3s; /* Add transition for smooth effect */
}
nav ul li:last-child a {
    border-right: none; /* Remove border from the last link */
}

nav ul li a:hover {
    opacity: 0.7; /* Change opacity on hover */
}

.certification1 {
    background-color:turquoise;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.certification2 {
    background-color:indianred;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.certification3 {
    background-color:burlywood;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.certification4 {
    background-color:orange;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}


.certification1 h2,.certification2 h2,.certification3 h2,.certification4 h2{
    color:black;
    margin-bottom: 10px;
    text-decoration: underline;
}

.certification1 p,.certification2 p,.certification3 p,.certification4 p{
    color:black;
    margin-bottom: 5px;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    .profile-pic {
        width: 120px; /* Reduce width for smaller screens */
        height: 160px; /* Reduce height for smaller screens */
    }

    .objective {
        max-width: 80%; /* Adjust maximum width for smaller screens */
    }
}
.zoom-effect {
    transition: transform 0.3s ease; 
}

.zoom-effect:hover {
    transform: scale(1.1); 
}



