body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav {
    background-color: #1d00f6;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px; 
    border-right: 1px solid #fff; 
    transition: opacity 0.3s; 
}
nav ul li:last-child a {
    border-right: none; 
}

nav ul li a:hover {
    opacity: 0.7;
}

.project-info1 {
    background-color: #6cf7e7;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.project-info2 {
    background-color: #60e98e;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}
.project-info3 {
    background-color:thistle;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}


.project-info1 h2, .project-info2 h2, .project-info3 h2 {
    color: #333;
    margin-bottom: 10px;
}

.project-info1 p, .project-info2 p, .project-info3 p {
    color: #666;
    margin-bottom: 5px;
}
.zoom-effect {
    transition: transform 0.3s ease;
}

.zoom-effect:hover {
    transform: scale(1.1); 
}

