body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: white;
    justify-content: left;
}
nav {
    background-color: #1d00f6;
    color: #fff;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px; 
    border-right: 1px solid #fff; 
    transition: opacity 0.3s; 
}

nav ul li:last-child a {
    border-right: none; 
}

nav ul li a:hover {
    opacity: 0.7; 
}

.profile-pic {
    width: 300px; 
    height: 300px;  
    border-radius: 60%;
}

.objective {
    max-width: 600px; 
    margin: 20px auto; 
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .profile-pic {
        width: 120px; 
        height: 160px; 
    }

    .objective {
        max-width: 80%; 
    }
}
